<!doctype html>
<html>
<head>
<title>sss</title>
<script src="js/angular.js"></script>		
<script src="js/angular-route.js"></script>
<style type="text/css">
.odd {
	background-color: blue;
}
.even {
	background-color: red;
}
</style>
</head>
<body ng-app="App">       
	<h2>{{name}}</h2>
	<hr>
	<div ng-controller="AppController as ctrl">
		Hello {{'World' + '!!!'}}! {{clock.now | date:'Z'}}
		<br>
		{{ '234234' | currency }}
		<br>
		{{ ['Ari', 'Learner', 'Like', 'DoIt'] | filter:'o' }}
		{{ [
			 {'name':'Ari', 
			  'city':'China', 
			  'fav': 'Fruit', 
			 },
			 {'name':'Naer', 
			  'city':'France', 
			  'fav': 'free', 
			 }
		   ] | filter:{'name':'Naer'}
		 }}
		 {{ ['GuoRui', 'Lanhai'] | filter:isCap }}
		 {{
		   {'name': 'Judy', 'City':'Canada'} | json
		 }} 
		 {{ 'we want to be real and freeeee!' | limitTo:-9 }}
		 {{ [1,2,3,4,5,6,7,7,7,7,7,8]| limitTo:2 }}
		 {{ 1233423 | number:2 | limitTo:5 }}
		 {{ [2,3,8,3,2,7] | orderBy}}
		<hr>
		<button ng-click="ctrl.add(1)">Add</button>
		<a ng-click="ctrl.sub(1)">Sub</a>
		<h4>g_counter-n: {{g_cnt}}</h4>
		<h4>g_counter-s: {{g_s}}</h4>
		<h4>counter-n: {{cnt.n}}</h4>
		<h4>counter-s: {{cnt.s}}</h4>
		<div ng-controller="SubAppController as sCtrl">
			<button ng-click="resetCount()">Reset</button>
		</div>

		<hr>
		<input type="text" ng-model="expr">
		<h2>{{parsedExpr}}</h2>
		<hr>

		<input ng-model="to" type="email" placeholder="right email address"/>
		<textarea ng-model="emailBody" placeholder='need {{to}}'></textarea>
		<pre>__previewText__</pre>

		<hr>
		<form name="signup_form" novalidateng-submit="signup()" ng-controller="signupController">
			<fieldset>
			<legend>Sigup</legend>
			<div class="row">
				<div class="large-12 columns">
					<label>Your name</label>
					<input type="text" placeholder="Name" name="name" 
						ng-model="signup.name"
						ng-minlength="3"
						ng-maxlength="20" required ng-focus/>
					<div class="error"
						ng-show="signup_form.name.$dirty && signup_form.name.$invalid && signup_form.submitted && signup_form.name.$focused">
						<small class="error"
							ng-show="signup_form.name.$error.required">
							Your name is required
						</small>
						<small class="error"
							ng-show="signup_form.name.$error.minlength">
							Your name is required to be at least 3 characters
						</small>
						<small class="error"
							ng-show="signup_form.name.$error.maxlength">
							Your name is required to be at most 20 characters
						</small>
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="large-12 columns">
					<label>Your email</label>
					<input type="email" placeholder="Email" name="email" 
						ng-model="signup.email"
						ng-minlength="3"
						ng-maxlength="20" required/>
					<div class="error"
						ng-show="signup_form.email.$dirty && signup_form.email.$invalid && signup_form.submitted && signup_form.name.$focused">
						<small class="error"
							ng-show="signup_form.email.$error.required">
							Your email is required
						</small>
						<small class="error"
							ng-show="signup_form.email.$error.minlength">
							Your email is required to be at least 3 characters
						</small>
						<small class="error"
							ng-show="signup_form.email.$error.maxlength">
							Your email is required to be at most 20 characters
						</small>
					</div>
				</div>
			</div>

		    <div class="row">
				<div class="large-12 columns">
					<label>Username</label>
					<input type="text" placeholder="Desired username" name="username" 
						ng-model="signup.username"
						ng-minlength="3"
						ng-maxlength="20" 
						ensure-unique="username"
						required/>
					<div class="error"
						ng-show="signup_form.username.$dirty && signup_form.username.$invalid && signup_form.submitted && signup_form.name.$focused">
						<small class="error"
							ng-show="signup_form.username.$error.required">
							Your username is required
						</small>
						<small class="error"
							ng-show="signup_form.username.$error.minlength">
							Your username is required to be at least 3 characters
						</small>
						<small class="error"
							ng-show="signup_form.username.$error.maxlength">
							Your username is required to be at most 20 characters
						</small>
						<small class="error"
							ng-show="signup_form.username.$error.unique">
							Your username is taken, please try another one
						</small>
					</div>
				</div>
			<button type="submit" 
				ng-disabled="signup_form.$invalid"
				class="button radius">submit</button>
			</fieldset>
		</form>

		<hr>
		<div self-links 
			my-urls="{{ 'http://' + 'weibo.com' }}" 
			my-link-texts="go to weibos">
		</div>
		<hr>
		<label>Url:</label><input type="text" ng-model="inputUrl"/>
		<div self-link 
			new-url="inputUrl"
			my-link-text="go to weibo">
		</div>


		<hr>
		<textarea ng-disabled="isDisabled">Wait 5 seconds</textarea>

		<hr>
		<br>
		<input type="text" ng-model="read"><br>
		<input type="text"
			ng-readonly="read"
			value="Some text here"/>

		<hr>
		<label>someProp = {{someProperty}}</label>
		<input type="checkbox"
			ng-checked="someProperty"
			ng-init="someProperty = true"
			ng-model="someProperty">

		<hr>
		<label>Select two Fishes: </label>
		<input type="checkbox"
			ng-model="isTwoFish"><br/>
		<select>
			<option>One Fish</option>
			<option ng-selected="isTwoFish">Two Fishes</option>
		</select>

		<hr>
		<a ng-href="{{ myHref }}">I'm feeling luck, when i load</a><br>
		<a href="{{ myHref }}"> I'm feeling 404</a>

		<hr>
		<div ng-include="template.html"
			ng-controller="AppController"
			ng-init="name='World'">
			Hello {{ name}}
		</div>

		<hr>
		<input type="text" ng-model="person.name"/>
		<div ng-switch on="person.name">
			<p ng-switch-default>and the winner is </p>
			<h1 ng-switch-when="Ari">{{person.name}}</h1>
		</div>

		<hr>
		<div ng-if="!isDisabled">
			Won't see this unless 5s passed.
		</div>
		
		<hr>
		<ul>
			<li ng-repeat="person in people" ng-class="{even: !$even, odd:!$odd}">
				{{person.name}} lives in {{person.city}}
			</li>
		</ul>
		<ul>
			<li ng-repeat="person in people" ng-class="{even: !$even, odd:!$odd}" ng-cloak ng-bind-template="{{person.name}} also lives in {{person.city}}">
			</li>
		</ul>

		<div sidebox title="Links">
			<ul>
				<li>Fisrt link</li>
				<li>Second link</li>
			</ul>
		</div>
		<div sidebox title="TagCloud">
			<div class="tagcloud">
				<a href="">Graphics</a>
				<a href="">AngularJS</a>
				<a href="">D3</a>
			</div>
		</div>

		<hr>
		<div ng-controller="SimpleController as s">
			<input type="text" ng-model="s.name" />
			<span>{{s.name}}</span>
		</div>


		<hr>
		<h1>View start</h1>
	   	<div ng-view></div>
		<h1>View end</h1>


		<hr>
		<div ng-controller="UseFacController">
			<button ng-click="sayHello()">SayHello</button>
			<hr>
			<h3>github name:</h3><input type="text" ng-model="github.username"/>
			<h4>{{github.events[0].actor.login}}</h4>
		</div>
		<div ng-controller="UseFacController">
			<h4>{{githubUrl}}</h4>

		</div>

		




		<hr>
		<h1>WrongWay</h1>
		<img src="{{imgSrc}}"/>

		<h1>RightWay</h1>
		<img ng-src="{{imgSrc}}"/>




	</div>

	<script src="js/ctrl.js"></script>
</body>
</html>
